#avatar {
    width: 256px;
    height: 256px;
    border: 10px solid #67949D;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
#center-container {
    width:500px;
    height:500px;
    margin: 0 auto;
    top: 120px;
    background-color:#222;
    color:#222;
}

.text {
    margin: 7px;
}

#inner-details {
    font-size:0.8em;
    list-style:none;
    margin:7px;
}

#log {
    position:absolute;
    top:10px;
    font-size:1.0em;
    font-weight:bold;
    color:#23A4FF;
}


#infovis {
    position:relative;
    width:500px;
    height:500px;
    margin:auto;
    overflow:hidden;
    font-size: 0.6em
}

/*TOOLTIPS*/
.tip {
    color: #111;
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}

ul.work-list li {
    float: left;
    width: 100%;
}

li div.work-item {
    float: right;
    width: 100%;
}

li.tech-tag-item {
	font-family: 'Lucida Grande', arial;
	font-size: 0.75em;
	padding: 2px 5px;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
	color: #fff;
    margin-right:5px;
}
.tech-tag-item-wpf, .tech-tag-item-default { background: #f0db4f; color: #333 !important; }
.tech-tag-item-mvvm, .tech-tag-item-ocr { background: #80bd01; }
.tech-tag-item-dicom { background: #f60; }
.tech-tag-item-html5,.tech-tag-item-etl  { background: #f90; }
.tech-tag-item-ssh,.tech-tag-item-ssis { background: #68217a; }
.tech-tag-item-jquery { background: #003b57; }
.tech-tag-item-wcf, .tech-tag-item-pacs { background: #015a84; }

li.project-matrix {
	font-family: 'Lucida Grande', arial;
	font-size: 0.75em;
	padding: 2px 5px;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
	color: #fff;
    margin-right:5px;
}

li.project-matrix-size {
    background: #68217a;
}
li.project-matrix-duration {
    background: #003b57;
}
li.project-matrix-loc {
    background: #015a84; 
}
li.project-matrix-wow {
    background: #80bd01; 
}
